#footer
  Copyright &copy;
  = Time.now.year
  ,
  = "#{APP_CONFIG[:client_name]}."
  All rights reserved. Web development by
  %a{:href => "http://www.taylored-software.com", :target => "_blank"}
    Taylored Software.
